<div class="form-group" [ngClass]="customClass">
    <label *ngIf="label" [for]="id" class="control-label">
        {{ label }}
        <span *ngIf="required" class="text-danger">*</span>
    </label>

    <div class="input-group wrap-input">
        <input
            svTrim
            [id]="id"
            [type]="inputType"
            class="form-control"
            [class.is-invalid]="hasError"
            [class.has-toggle]="showToggleButton"
            [placeholder]="placeholder"
            [value]="value"
            [disabled]="disabled"
            [readonly]="readonly"
            [autofocus]="autofocus"
            maxlength="255"
            (input)="onInputChange($event)"
            (keypress)="onKeyPress($event)"
            (focus)="onInputFocus($event)"
            (blur)="onInputBlur($event)"
        />

        <span
            *ngIf="showClearButton && value && !disabled && !readonly && !showToggleButton"
            class="icon-close-name"
            (click)="clearInput()"
            [attr.aria-label]="'Xóa'"
            title="Xóa"
        >
            <i class="far fa-times"></i>
        </span>

        <button
            *ngIf="showToggleButton"
            type="button"
            class="btn-toggle-password"
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="toggleButtonAriaLabel"
            [title]="toggleButtonAriaLabel"
            [disabled]="disabled"
        >
            <img
          [src]="inputType === 'password' ? 'assets/dist/img/image/icon_eye_show.svg' : 'assets/dist/img/image/icon_eye_hide.svg'"
          alt="Toggle password visibility"
            />
        </button>
    </div>

    <div *ngIf="hasError" class="has-error m-b-12">
        <div *ngFor="let message of errorMessages" class="tw-text-[#B91C1C]">
            {{ message }}
        </div>
    </div>
</div>
