<div [class]="'form-group ' + customClass">
    <label class="control-label" *ngIf="label">
        {{ label }}
        <span class="text-danger" *ngIf="required"> *</span>
    </label>

    <div class="radio-group" [class.disabled]="disabled || readonly">
        <div class="radio-option" *ngFor="let option of options">
            <input
                type="radio"
                [id]="id + '_' + option.value"
                [name]="id || 'gender'"
                [value]="option.value"
                [checked]="value === option.value"
                [disabled]="disabled || readonly || option.disabled"
                (change)="onSelectionChange(option.value)"
                (focus)="onSelectionFocus($event)"
                (blur)="onSelectionBlur($event)"
                class="radio-input"
            />
            <label
                [for]="id + '_' + option.value"
                class="radio-label"
                [class.disabled]="disabled || readonly || option.disabled"
            >
                {{ option.text }}
            </label>
        </div>
    </div>

    <div *ngIf="hasError" class="has-error m-b-12">
        <div *ngFor="let message of errorMessages">
            <span class="tw-text-[#B91C1C]">{{ message }}</span>
        </div>
    </div>
</div>
