<div class="search-500-group" [ngClass]="customClass">
  <div class="search-500-wrapper">
    <span class="material-symbols-outlined search-500-icon">search</span>
    <input
      [id]="id"
      type="text"
      class="search-500-input"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      [readonly]="readonly"
      [autofocus]="autofocus"
      [maxLength]="maxLength || 500"
      (input)="onInputChange($event)"
      (keypress)="onKeyPress($event)"
      (focus)="onInputFocus($event)"
      (blur)="onInputBlur($event)"
    />
    <div class="search-500-actions" *ngIf="showClearButton && value && !disabled && !readonly">
      <app-icon-button
        variant="ghost"
        icon="close"
        size="sm"
        (buttonClick)="clearInput()"
      ></app-icon-button>
    </div>
  </div>
</div>
